<%-# Store Value in a cookie -%>
  <%- params[@username] -%>

  <hr/>


<form action ="passwords" method "get">
  <label for="username_id"> Username:</label>
  <input type ="text" id="username_id" name ="userck"/>
  <br/>
  <label for="password_id"> Password:</label>
  <input type ="password" id="password_id" name ="password"/>
  <br/>
  <input type ="Submit" value ="submit"/>
</form>
